.App {
  text-align: center;
}


#nav ul{
  padding: 0;
  margin: 0;
}
#nav ul li{
  display: inline-block;
  text-align: center;
  width: 7em;
}
#nav ul li a{
  display:inline-block ;
  color: #f90;
  padding: 5px;
  text-decoration: none;
}